.section {
  width: 1278px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.link {
  list-style: none;
}

.list {
  list-style: none;
}

/* Our Team */

.our-team-title {
  display: flex;
  justify-content: center;
  font-style: Bold;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 80px;
}

.our-team-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.our-team-text{
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 886px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 16px;
  Line height: 1.5;
}

.our-team-card-one{
  display: flex;
  width: 288px;
  height: 364px;
  border-radius: 15px;
  background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.our-team-card-two{
  display: flex;
  width: 288px;
  height: 364px;
  border-radius: 15px;
  background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.our-team-card-three{
  display: flex;
  width: 288px;
  height: 364px;
  border-radius: 15px;
  background: linear-gradient(176.56deg, rgba(0, 197, 235, 0.5) 4.33%, rgba(181, 68, 254, 0.5) 116.56%), #06071B;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.our-team-card-four{
  display: flex;
  width: 288px;
  height: 364px;
  border-radius: 15px;
 background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071B;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.our-team-photo{
  border-radius: 10px;
 }

 .our-team-name{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
 }

 .our-team-position{
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
 }